@page "/stars"
@using AstroPlanner.Services
@using AstroPlanner.Util.Models
@using AstroPlanner.Util.Services
@inject HttpClient Http

<PageTitle>Bright Stars</PageTitle>

<FluentHeader>Bright Stars</FluentHeader>

<br />

<FluentCard>
    @if (StarInfo.stars == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Right Ascension</th>
                    <th>Declination</th>
                    <th>Constellation</th>
                    <th>Magnitude</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var star in StarInfo.stars)
                {
                    <tr>
                        <td>@star.Name</td>
                        <td>@star.RightAscensionHours h @star.RightAscensionMinutes m @star.RightAscensionSeconds s</td>
                        <td>@star.DeclinationDegrees d @star.DeclinationMinutes m @star.DeclinationSeconds s</td>
                        <td>@star.Constellation</td>
                        <td>@star.Magnitude</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</FluentCard>
